<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"
      
      color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="centrado_android">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="centrado_ios">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese sus datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-list>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" placeholder="Nombre" [(ngModel)]="newUser.nombre" name="nombre">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="newUser.usuario" name="usuario">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" placeholder="Apellido" [(ngModel)]="newUser.apellido" name="apellido">
            </ion-input>
            </ion-item>

            <ion-item>
              <ion-label></ion-label>
              <ion-input type="text" placeholder="Correo" [(ngModel)]="newUser.correo" name="correo">
              </ion-input>
              </ion-item>
              <ion-item>
                <ion-label></ion-label>
                <ion-input type="password" placeholder="Contraseña" [(ngModel)]="newUser.contrasena" name="contrasena">
                </ion-input>
              </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="Registrar()" expand="block" fill="solid" shape="round" color="tertiary" routerLink="/login">
    aceptar
  </ion-button>
</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-title style="color:  rgba(23, 76, 126, 1);"></ion-title>
  </ion-toolbar>
</ion-footer>