<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrapp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
 <img src="assets/buho_1.png" alt="centrado_imagen"> 
</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrapp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="login()" expand="block" fill="solid" shape="round" color="success" routerLink="/login">
    Login
  </ion-button>
  <ion-button (click)="registro()" expand="block" fill="solid" shape="round" color="success" routerLink="/registro">
    Registrarse
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="color:  rgba(23, 76, 126, 1);"></ion-title>
  </ion-toolbar>
</ion-footer>





