.centrado_ios {
    text-align: center;
}

.centrado_android {
    margin-left: 15%;
}

.footer_android{
    color: rgba(23, 76, 126, 1);
}

.footer_ios{
    color: rgba(23, 76, 126, 1);
}
