.texto {
    text-align: justify;
    color: black;
    padding: 10%;
    background-color: #add8e6; 
}
.texto2 {
    text-align: justify;
    color: black;
    padding: 10%;
    background-color: #ffffcc; 
}
.texto3 {
    text-align: justify;
    color: black;
    padding: 10%;
    background-color: #90ee90; 
}

.encabezado {
    background-color: #ffcc66; 
}

.contenido {
    background-color: white; 
}

.parrafo{
    text-align: justify;
    color:black;
    padding:10%;
}

ion-content {
    background-color: beige; /* Cambiar el fondo a un tono beige */
}